@tailwind base;
@tailwind components;
@tailwind utilities;

htnl,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #666; /* Color of the scrollbar thumb */
  border-radius: 20px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #306b75; /* Color of the thumb on hover */
}
